.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.section {
    border: 1px solid white;
    border-radius: 20px;
    padding: 15px;
    width: 230px;
    overflow: hidden;
}

.calc_field {
    background: black;
    border: 0;
    color: white;
    max-width: 93%;
    font-size: 50px;
    height: 57px;
    outline: none;
    text-align: end;
    width: auto;
}

.calc_field_font_50 {
    font-size: 50px;
}

.calc_field_font_40 {
    font-size: 40px;
}

.calc_field_font_35 {
    font-size: 35px;
}

.calc_field_font_27 {
    font-size: 27px;
}

.calc_field_font_25 {
    font-size: 25px;
}

.calc_field, select, textarea{
    color: white;
}

.row_4_4elem {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    justify-items: center;
    margin-top: 7px;
}

.row_4_3elem {
    display: grid;
    grid-template-columns: 6fr 3fr 3fr;
    justify-items: center;
    margin-top: 7px;

}

.btn {
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: all .3s ease;
}

.btn:hover {
    filter: brightness(1.2);
}

.btn:active {
    filter: brightness(.8);
}

.btn_func {
    background: #d0cfcf;
}

.btn_opr {
    background: #feb93a;
    color: white;
}

.btn_opr_active {
    background: white;
}

.btn_num {
    background: #474747;
    color: white;
}

.btn_big {
    border-radius: 50px;
    width: 105px;
}